.tituloST{
    font-family: 'Star Wars', sans-serif;
    display: flex;       
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 51px;
    color: rgb(12, 12, 12);
    text-shadow: 
        -1px -1px 1px rgb(255, 255, 0),
        -1px 1px 1px yellow,
        1px 1px 1px yellow,
        1px -1px 1px yellow;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: rgb(12, 12, 12);
}

